{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
</head>
<body>

  <div class="auth-card">
    <h1>BarberShop</h1>

     {% if messages %}
      <div class="error-box">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      

      <input type="text" name="username" placeholder="Usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>

      <button type="submit">Iniciar sesión</button>
    </form>

    <p class="link-text">¿No tienes cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
  </div>

</body>
</html>
